@import url(https://fonts.googleapis.com/css2?family=Outfit&family=Space+Mono&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: hsl(185, 41%, 84%);
  font-family: 'Space Mono', sans-serif;
}

.title {
  text-transform: uppercase;
  letter-spacing: 7px;
}

.md-weight {
  font-weight: 500;
}

.container-grid {
  display: grid;
  grid-template-rows: 25% 25%;
  place-items: center;
  margin-top: 10rem;
}

.title {
  margin-bottom: 5rem;
}

.app {
  background-color: hsl(0, 0%, 100%);
  width: 47rem;
  height: 26rem;
  border-radius: 20px;
}

.internal-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 30px;
}

.left-grid {
  display: grid;
  grid-template-rows: 7fr 4fr 10fr 8fr;
  row-gap: 0rem;
}

.error-text {
  padding-left: 3.5rem;
  color: red;
}

.error-border {
  border: 2px solid red;
  width: 20.5rem;
  height: 2.8rem;
  border-radius: 7px;
}

.total-bill {
  grid-row-start: 1;
}

.total-bill label {
  margin-top: 12px;
}

.input-icon {
  position: relative;
}

.input-icon > #i {
  position: absolute;
  display: block;
  transform: translate(110%, -50%);
  top: 50%;
  width: 10px;
}

.input-icon > input {
  padding-left: 25px;
  padding-right: 0;
}

.input-fields {
  border: 0;
  background-color: hsl(189, 41%, 97%);
  width: 20.5rem;
  height: 2.8rem;
  border-radius: 7px;
}

.error-text {
  color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.input-fields[value] {
  text-align: right;
  font-size: 24px;
  padding-right: 10px;
}

.right-grid {
  display: grid;
  grid-template-rows: 2fr 2fr 4fr;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    'tip-amount tip-amount-value'
    'total-per-person per-person-value'
    'reset-btn reset-btn';
  background-color: hsl(183, 100%, 15%);
  width: 21.5rem;
  height: 22.5rem;
  border-radius: 15px;
}

.tip-amount {
  grid-area: tip-amount;
  align-self: center;
  padding: 30px;
  color: white;
}

.tip-amount-value {
  grid-area: tip-amount-value;
  align-self: center;
  padding: 20px 50px 20px 10px;
  text-align: left;
  font-weight: 700;
  font-size: 30px;
  text-align: right;
  color: hsl(172, 67%, 45%);
}

.total-per-person {
  grid-area: total-per-person;
  align-self: center;
  padding: 30px;
  color: white;
}

.per-person-value {
  grid-area: per-person-value;
  align-self: center;
  padding: 20px 50px 20px 10px;
  font-size: 30px;
  font-weight: 700;
  text-align: right;
  color: hsl(172, 67%, 45%);
}

.reset-btn {
  grid-area: reset-btn;
  width: 18rem;
  height: 3rem;
  justify-self: center;
  align-self: center;
  border: 0;
  border-radius: 7px;
  text-transform: uppercase;
  font-weight: 500;
}

.tip {
  height: 10px;
  align-self: center;
}
.tip-selection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'five ten fifteen'
    'twentyfive fifty custom';
}

#five {
  grid-area: five;
}

#ten {
  grid-area: ten;
}
#fifteen {
  grid-area: fifteen;
}
#twentyfive {
  grid-area: twentyfive;
}
#fifty {
  grid-area: fifty;
}
#custom {
  grid-area: custom;
}

.tip-selection > * {
  width: 6rem;
  height: 3rem;
  border: 0;
  border-radius: 5px;
  font-weight: 700;
  font-size: 24px;
}

.tip-selection > *:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.19);
}

.tip-selection > .dark {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
}

.tip-selection > #fifteen {
  background-color: hsl(172, 67%, 45%);
}

#no-people-title {
  padding-top: 19px;
  align-self: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
